/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.rd-page-content-animation {
  opacity: 0;
  animation: slide-in 1.2s forwards;
}

.fancybox-image,
.fancybox-spaceball {
  height: 100%;
  object-fit: contain;
  padding: 0;
}
.fancybox-is-open.fancybox-can-drag .fancybox-image, .fancybox-is-open.fancybox-is-zoomable .fancybox-image,
.fancybox-is-open.fancybox-can-drag .fancybox-spaceball,
.fancybox-is-open.fancybox-is-zoomable .fancybox-spaceball {
  padding: 0 75px;
  transition: all 500ms;
}

.fancybox-navigation button.fancybox-button {
  top: 50%;
}

.navbar.navbar-top-default .navbarDesktop-brown {
  display: none !important;
}
.navbar.navbar-top-default.-theme-brown .navbarDesktop-white {
  display: none !important;
}
.navbar.navbar-top-default.-theme-brown .navbarDesktop-brown {
  display: flex !important;
}
.navbar.navbar-top-default .navbarMobile-brown {
  display: none !important;
}

@media (max-width: 1199px) {
  .project-detail-content-lg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .project-detail-content-md {
    display: none;
  }
}

.back-top {
  bottom: 0 !important;
}

.fontBacktoTop {
  white-space: nowrap;
}

.heightAwardH {
  margin-bottom: 50px;
}

@media screen and (max-width: 991px) {
  .text-home {
    top: 35% !important;
  }
  .owl-nav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .text-home {
    top: 91% !important;
  }
  .slider-bottom-copyM {
    left: 0;
    right: 0;
  }
  .fancybox-navigation button.fancybox-button {
    font-size: 50px;
    height: 50px;
    width: 50px;
    margin-top: -25px;
  }
  .fancybox-is-open.fancybox-can-drag .fancybox-image, .fancybox-is-open.fancybox-is-zoomable .fancybox-image,
  .fancybox-is-open.fancybox-can-drag .fancybox-spaceball,
  .fancybox-is-open.fancybox-is-zoomable .fancybox-spaceball {
    padding: 0 40px;
  }
}
@media screen and (max-width: 767px) {
  .slider-copyrightM {
    font-size: 12px;
  }
}
@media screen and (min-width: 992px) {
  .section.bg-cream.profile,
  .section.bg-cream.testimonial-sec {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .section.bg-cream.profile {
    position: relative;
    padding-bottom: 40px;
  }
}
@media screen and (orientation: landscape) and (max-width: 991px) and (max-height: 420px) {
  .owl-nav {
    display: block;
  }
  .section-rl-light-box {
    padding: 0;
  }
  #team-slider.owl-carousel .owl-item img {
    max-height: 55vh;
  }
  /* Fancy Box */
  .fancybox-image-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .fancybox-image {
    top: initial;
  }
  .fancybox-is-open.fancybox-can-drag .fancybox-image, .fancybox-is-open.fancybox-is-zoomable .fancybox-image {
    padding: 0 !important;
  }
  /* ---------------------------------------------------------------- */
  /* Header Navbar */
  .navbar {
    padding-top: 30px;
  }
  .navbar > .container:not(.navbarMobile) {
    display: none !important;
  }
  .navbar > .container.navbarMobile {
    display: flex !important;
    flex-direction: column;
  }
  .navbar > .container.navbarMobile > .row:nth-child(1) {
    align-self: flex-end;
  }
  .navbar > .container.navbarMobile > .row:nth-child(2) {
    margin-top: -39px;
    z-index: 1;
  }
  .navbar > .container.navbarMobile .link.logo {
    position: relative;
  }
  .navbar > .container.navbarMobile .side-nav-btn {
    float: right;
    margin-right: 20px;
  }
  .navbar > .container.navbarMobile .shop-details {
    margin-right: 0 !important;
  }
  .navbar.navbar-top-default .navbarMobile-brown {
    display: none !important;
  }
  .navbar.navbar-top-default.-theme-brown .navbarDesktop-brown,
  .navbar.navbar-top-default.-theme-brown .navbarMobile-white {
    display: none !important;
  }
  .navbar.navbar-top-default.-theme-brown .navbarMobile-brown {
    display: flex !important;
  }
  /* ---------------------------------------------------------------- */
  /* Header Sidemenu */
  .side-menu .hidden-banner-sm, .side-menu > .navbar-standard_MENU:nth-child(1) {
    display: none !important;
  }
  .side-menu > .navbar-standard_MENU:nth-child(2) {
    padding-top: 23px;
  }
  .side-menu > .navbar-standard_MENU:nth-child(2), .side-menu > .navbar-standard_MENU:nth-child(2) .hidden-banner-md {
    display: block !important;
  }
  .side-menu > .navbar-standard_MENU:nth-child(2) .hidden-banner-sm {
    display: none !important;
  }
  .side-menu > .navbar-standard_MENU:nth-child(2) .logo {
    position: relative;
    top: -40px;
  }
  .side-menu .btn-close_M {
    margin-right: 20px;
    height: 33px;
    width: 33px;
    display: inline-block;
    cursor: pointer;
    float: right;
  }
  .side-menu .btn-close_M::before,
  .side-menu .btn-close_M::after {
    position: absolute;
    content: " ";
    height: 24px;
    width: 2px;
    background: #dfddd6;
    top: 5px;
  }
  .side-menu .btn-close_M::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .side-menu .btn-close_M::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .side-menu i.la-search {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 3px;
    color: #fff !important;
  }
  .side-menu .side-nav {
    position: relative;
    z-index: 12;
    margin-top: -20px !important;
  }
  .side-menu .side-nav .navbar-nav .nav-item {
    margin-left: 63% !important;
  }
  .side-menu .side-nav .navbar-nav .nav-item .nav-link {
    font-size: 24px;
    padding: 5px !important;
  }
  .side-menu .footer-social {
    bottom: 10px !important;
    left: 5px !important;
  }
  .side-menu .footer-social p {
    font-size: 12px;
  }
  .side-menu .socail-top i {
    font-size: 20px;
  }
  .shop-details_MENU {
    margin: auto;
    float: right;
    position: relative;
    top: 8px;
    right: 26px;
  }
  .heightMENULOGO {
    height: auto;
  }
  /* ---------------------------------------------------------------- */
  /* Home Page */
  .bg-skills {
    height: 100%;
    padding-bottom: 50px;
    display: flex !important;
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .bg-skills .pp-tableCell {
    height: auto !important;
  }
  .text-home {
    height: auto !important;
    top: 0 !important;
    text-align: center;
  }
  .text-home .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .text-home .hidden-banner-sm {
    display: none;
  }
  .navigate-arrowBanner {
    bottom: 0px !important;
  }
  .slider-bottom-copyM {
    bottom: 10px !important;
    left: 0 !important;
    right: initial !important;
  }
  .slider-copyrightM {
    font-size: 12px;
  }
  /* ---------------------------------------------------------------- */
  /* Projects Detail */
  .popup-box {
    height: 100% !important;
  }
  /* ---------------------------------------------------------------- */
  .section.bg-cream {
    height: 100% !important;
    padding: 100px 0;
  }
  .section.bg-cream.profile {
    padding-top: 0;
  }
  .awards-top {
    margin-top: 0 !important;
  }
  .auto-profile {
    margin-top: 15% !important;
  }
  .footer-social.page9 {
    position: relative;
    margin-top: 40px;
    margin-bottom: -60px;
    bottom: 0 !important;
  }
  .contactbox {
    height: auto !important;
  }
  .my-auto.auto-profileDM {
    margin-top: 0 !important;
  }
  .back-people-detail {
    bottom: 40px !important;
  }
}
@media screen and (orientation: landscape) and (max-width: 767px) and (max-height: 420px) {
  .fancybox-is-open.fancybox-can-drag .fancybox-image, .fancybox-is-open.fancybox-is-zoomable .fancybox-image {
    padding: 0 80px !important;
  }
  .container {
    max-width: initial !important;
  }
  .container-fluid {
    padding-left: 45px !important;
    padding-right: 45px !important;
  }
  .side-menu .btn-close_M {
    margin-right: 0;
  }
  .side-menu .side-nav .nav-item .nav-link {
    font-size: 18px;
    padding: 2px !important;
  }
  .side-menu .footer-social {
    left: 40px !important;
  }
  .side-menu .footer-social .socail-top + p {
    white-space: nowrap;
  }
  .popup-box {
    height: calc(100% - 50px) !important;
  }
  .my-auto {
    margin-bottom: 0 !important;
  }
  .auto-contact {
    margin-top: 0 !important;
  }
  .awards-top {
    margin-top: 0 !important;
  }
  .profile-top {
    margin-top: 0 !important;
  }
  .auto-projects {
    margin: 0 !important;
  }
  .scrollbarProfileDetails {
    margin-bottom: 0 !important;
  }
}
/* Section Home Award ( Fro al lock scroll content )
- This style for display content section award to can scroll whole content in section instead of only section items.
- This for media only landscape mobile and vertical mobile. ( Not include IPad ).
*/
.section-home-award-content {
  display: table;
  width: 100%;
  height: 100%;
}

.section-home-award-content-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

@media screen and (orientation: landscape) and (max-width: 991px) and (max-height: 420px), (max-width: 767px) {
  .section-home-award-content {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 80px;
  }
  .section-home-award-content .footer-social.page9 {
    margin-bottom: 0;
  }
  .section-home-award-content-wrapper {
    display: block;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 20px;
  }
  .heightAwardH {
    height: auto;
  }
}
@media screen and (orientation: landscape) and (max-width: 767px) and (max-height: 420px) {
  .section-home-award-content {
    padding-top: 80px !important;
  }
  .section-home-award-content .footer-social.page9 {
    margin-top: 80px !important;
  }
  .section-home-award-content .footer-social.page9 > .container > .row {
    display: block;
  }
  .section-home-award-content .navigate-arrow.hidden-projectD-sm {
    display: none !important;
  }
  .section-home-award-content .navigate-arrow.hidden-projectD-xs {
    display: block !important;
    position: absolute !important;
    top: -161px;
    left: calc(100vw - 20px) !important;
    transform: translateX(-100%) !important;
  }
  .section-home-award-content .navigate-arrow .fontBacktoTop {
    white-space: nowrap;
  }
  .slider-bottom-copy.hidden-projectD-sm {
    margin-top: 20px;
  }
  .slider-bottom-copy.hidden-projectD-sm .slider-copyright {
    bottom: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  .section-home-award-content {
    padding-top: 130px;
  }
  .section-home-award-content .awards-top {
    margin-top: 20px !important;
  }
  .navbar.navbar-top-default .navbarMobile-brown {
    display: none !important;
  }
  .navbar.navbar-top-default.-theme-brown .navbarDesktop-brown,
  .navbar.navbar-top-default.-theme-brown .navbarMobile-white {
    display: none !important;
  }
  .navbar.navbar-top-default.-theme-brown .navbarMobile-brown {
    display: block !important;
  }
}
@media screen and (max-width: 375px) {
  .section-home-award-content .footer-social.page9 {
    margin-bottom: -20px;
  }
  .section-home-award-content .slider-bottom-copy.hidden-projectD-sm {
    margin-bottom: -20px;
  }
  .section-home-award-content .slider-bottom-copy.hidden-projectD-sm .slider-copyright {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style-mobile-landscape-auto-prefixer.css.map */
